<div class="contenedor">
    <div class="header-wrapper">
      <nav class="header-menu">
        <ul>
          <li><a href="/home" class="moderustic">HOME</a></li>
          <li><a  href="/about" class="moderustic">NOTICIAS</a></li>
          <li><a href="/services" class="moderustic">SERVICIOS</a></li>
          <li><a href="/contact" class="moderustic">CONTACTO</a></li>
        </ul>
      </nav>
        <nav class="header-menu">
          <ul>
            <li><a  href="login" class="moderustic">LOG IN</a></li>
            <li><a href="signin" class="moderustic">SIGN IN</a></li>       
          </ul>
        </nav>
    </div>
  </div>