.header-wrapper {
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que el header ocupe todo el ancho de la ventana */
    height: 60px; /* Altura fija para el header */
    background-color: rgba(149, 149, 149, 0.346); /* Fondo con transparencia */
    backdrop-filter: blur(5px); /* Aplicar efecto de desenfoque al fondo */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    padding: 1rem;
    box-sizing: border-box; /* Incluye el padding en la altura total */
  }
  
  .header-menu {
    position: relative;
    z-index: 1; /* Asegura que los elementos del menú estén por encima del efecto de blur */
  }
  
  .header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  /* Añadir margen superior al contenido principal */
  .main-content {
    margin-top: 80px; /* Ajusta este valor según la altura total del header */
  }
  
  .header-menu li {
    margin: 0 1rem;
  }
  
  .header-menu li:hover{
  color: blueviolet;
  }
  
  
  .header-menu a {
    color: #ffffff; /* Color blanco para el texto */
    text-decoration: none; /* Sin subrayado */
  }
  
  
  
  .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .header-menu {
    display: flex;
  }
  
  .header-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .header-menu ul li {
    margin-right: 20px;
  }
  
  .header-menu ul li:last-child {
    margin-right: 0;
  }